$patreonnavy:#052D49;
$patreongray:rgb(243,244,245);
$patreonorange:rgb(247,104,89);
$patreongreen:rgb(102,213,164);
$patreonblue:rgb(59, 145, 252);
$patreonyellow:rgb(254, 218, 87);
$patreonborder:rgb(227, 230, 233);
$patreonhover:rgb(238, 245, 255);
$patreonnavygray: #4F687A;
