.creator-edit-content#edit-content
  .title
    %h3 Rewards
    %h4 Give something to your most passionate fans when they become a patron

  .content
    .edit-content-left
      .rewards-content
        .text-content
          %span What would you like to give your biggest fans?
          %p The best rewards are easy to fulfill and let you stay focused on your craft. We recommend creating at least one reward to give your fans more incentive to become patrons. And since your patrons pay on a monthly basis, we recommend creating recurring rewards.
          %br/
          %p Creators with rewards are 1.5x more likely to receive pledges.
        .my-tiers
        .new-tier-form
        .create-tier-btn

    .edit-content-right

