.setting-sidebar
  %ul
    -if current_user.creator
      %li
        = link_to edit_creator_path(@creatorMyself) do
          .setting-article
            EDIT CREATOR PAGE
    %li
      = link_to settings_profile_path do
        .setting-article
          PROFILE
