.sidebar
  =link_to "#", class: "side-icons" do
    .avatar.icons
      =fa_icon "smile-o"
  =link_to "#", class: "side-icons" do
    .post.icons
      =fa_icon "pencil-square-o"
  =link_to "#", class: "side-icons" do
    .patrons.icons
      =fa_icon "users"
  =link_to "#", class: "side-icons" do
    .notification.icons
      =fa_icon "bell-o"
  =link_to "#", class: "side-icons" do
    .messages.icons
      =fa_icon "commenting-o"
  =link_to "#", class: "side-icons" do
    .invite_creators.icons
      =fa_icon "paper-plane-o"
  =link_to "#", class: "side-icons" do
    .settings.icons
      =fa_icon "cog"
