.sidebar
  - if current_user.creator
    =link_to "/creators/#{@creator.id}/top", class: "side-icons" do
      .avatar.icons
        = image_tag current_user.avatar_image.to_s
  - else
    =link_to home_path, class: "side-icons" do
      .avatar.icons
        = image_tag current_user.avatar_image.to_s
  =link_to post_path, class: "side-icons" do
    .post.icons
      =fa_icon "pencil-square-o"
  =link_to "#", class: "side-icons" do
    .patrons.icons
      =fa_icon "users"
  =link_to "#", class: "side-icons" do
    .notification.icons
      =fa_icon "bell-o"
  =link_to "#", class: "side-icons" do
    .messages.icons
      =fa_icon "commenting-o"
  =link_to "#", class: "side-icons" do
    .invite_creators.icons
      =fa_icon "paper-plane-o"
  =link_to settings_profile_path, class: "side-icons" do
    .settings.icons
      =fa_icon "cog"
