.create-page-back
  .contents-wrapper
    .content
      .content__left
        = form_for @creatorMyself, url:creators_create_path do |f|
          .content__left-title
            %h3 What are you creating?
          .content__left-form
            = f.text_field :creating_things, autofocus: true, placeholder: "e.g. music videos, watercolor paintings, This American life"
          .content__left-submit
            = f.submit "OK"
      .content__right
        .content__right-icon
          =fa_icon "lightbulb-o"
        .content__right-guide
          Don't worry, you can always refine this later.
=render partial: "layouts/footer"
