.create-page-back
  .contents-wrapper
    .content
      .done-content
        .done-title
          %h2 Bravo
        .done-message
          %h5
            Welcome to Patreon.<br/>
            We're thrilled to have you.
        .done-link
          =link_to "CONTINUE", creators_top_path
=render partial: "layouts/footer"
