.post-sidebar
  %ul
    %li
      = link_to posts_path do
        .post-article
          NEW
    %li
      = link_to "#" do
        .post-article
          PUBLISHED
    %li
      = link_to "#" do
        .post-article
          SCHEDULED
    %li
      = link_to "#" do
        .post-article
          DRAFTS


