.create-page-back {
  margin-top:50px;
  background-color:$patreongray;
  box-sizing:border-box;
  color:$patreonnavy;
  .contents-wrapper{
    max-width: 850px;
    padding:50px;
    margin:0 auto;
    .content{
      max-width:700px;
      min-height: 520px;
      padding:50px;
      background-color:white;
      &__left{
        width:440px;
        float:left;
        &-title{
          margin-bottom:20px;
          h3{
            font-size:1.3rem;
            font-weight:bold;
          }
        }
        &-form {
          margin-bottom:20px;

          input {
            font-weight:100;
            width:100%;
            border:none;
            border-bottom:2px solid $patreonborder;
            height:2rem;
          }
        }
        &-submit {
          input{
            background-color:$patreonorange;
            color:white;
            height:48px;
            border-radius: 0;
            width:160px;
            cursor:pointer;
          }
        }
      }
      &__right{
        width:200px;
        float:right;
        color:darken($patreonborder,30%);
        font-weight:100;
        text-align:center;
        border:1px solid $patreonborder;


        &-icon {
          padding:25px;
          font-size:45px;
        }
        &-guide {
          padding:0 25px 25px 25px;
        }

      }
    }
  }
}
