.pledges-frame {
  padding: 50px 0 0 64px;
  box-sizing: border-box;
  .pledges-content-back {
    background-color: $patreongray;
    .pledges-content-frame {
      max-width:1136px;
      padding:0 16px;
    }
  }
}
