.post-sidebar {
  background-color:white;
  position:fixed;
  top:50px;
  left:64px;
  z-index:3;
  // margin-top:50px;
  float:left;
  height:calc(100vh - 50px);
  width:110px;
  font-size: 0.8rem;
  font-weight:700;
  border-right: 2px solid $patreonborder;
  li {
    height:43px;
    &:hover {
      background-color: $patreonhover;
    }
    a {
      color:$patreonnavy;
      &:link {
        text-decoration:none;
      }
      .post-article{
        padding:12px 16px;
        line-height:19px;
      }
    }
  }
}

.post-background{
  // ヘッダーやサイドバーなどすべての下に潜り込んでいる状態
  background-color:$patreongray;
  width:100%;
  min-height:100vh;
  box-sizing:border-box;
  .post-content-frame {
    margin-top: 50px;
    margin-left:176px;
  }
}

// ----ここまでがレイアウト共通----


// selectアクション
.post-select-wrapper {
  padding:16px;
  .select-without-padding {
    width:600px;
    margin:0 auto;
  }
}

// ----ここからは白枠の中身を記述するだけでよい----
